/* CSS Normalizer */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* End of CSS Normalizer */

.admin-sidebar,
button {
    background-color: #1992d4;
    color: #ffffff;
}

.dashboard,
input[type="search"] {
    background-color: #e2e9f1;
}
/*
FOR: .card
border-left: #e2e9f1; */

.pg-container {
    display: grid;
    /* grid-template: ; */
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "admin-sidebar header"
    "admin-sidebar dashboard";
}

.admin-sidebar {
    grid-area: admin-sidebar;
}

.dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-areas: 
    "projects announcments"
    "projects trending";
}

.card,
.announcment-sidebar > div,
.trending-sidebar > div {
  background-color: #ffffff;
}

.project-contr {
  grid-area: projects;
}
.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.75rem;
  margin: 2rem;
  margin-top: 1rem;  
}
.card {
  max-width: 740px;
  height: 200px;
  border-left: solid 10px rgb(255, 165, 0);
  border-radius: 1em;
}


.announcment-sidebar {
  grid-area: announcments
}

.trending-sidebar {
  grid-area: trending;
}

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 4fr 2fr;
}

.side-btn-cntr {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 1000;
  padding-left: 24px;
  margin-bottom: 1.5rem;
}

img[src$=".svg"] {
  width: 35px;
}

.side-btn-cntr > img.svg {
  width: 35px;
  margin-right: 24px;
}

.side-btn-cntr:nth-of-type(1) > img.svg {
  width: 60px;
}

.side-btn-cntr:nth-of-type(1) {
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 16px;
}

.side-btn-cntr:nth-of-type(7) {
  margin-bottom: 4rem;;
}